home/.config/hypr/private.lua
home/.config/hypr/monitors.conf
home/.config/hypr/monitors.lua
home/.config/hypr/workspaces.conf
home/.config/fcitx5/conf/cached_layouts
home/.config/vesktop/Code Cache/
home/.config/vesktop/Crashpad/
home/.config/vesktop/SingletonCookie
home/.config/vesktop/SingletonLock
home/.config/vesktop/SingletonSocket
home/.config/vesktop/sessionData/
home/.config/vesktop/state.json
home/.config/xfce4/xfconf/xfce-perchannel-xml/thunar-shares-plugin.xml
home/.config/xfce4/desktop/icons.screen0.yaml
home/.config/sunshine/credentials/
home/.config/sunshine/sunshine.conf
home/.config/sunshine/sunshine.log
home/.config/sunshine/sunshine_state.json
home/.local/share/applications/